
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha</th>
      <th scope="col">Modulos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (budget of budgets; track $index) {
      <tr>
        <th scope="row">{{budget.id}}</th>
        <td>{{budget.client}}</td>
        <td>{{budget.date}}</td>
        <td>{{budget.modules.length}}</td>
        <td>
          <button (click)="ver(budget.id)">
            <i class="bi bi-calculator"></i>
          </button>
        </td>
      </tr>
    }
  </tbody>

</table>
